@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');

html,body{
    height: 100%;
    overflow-x:  hidden;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main{
    flex: 1 1 auto;
}

.logo{
    width: 112px;
    height: 100px;
}

.imglogo{
  display: flex;
  justify-content: center;
}

.site_name{
    font-family: Roboto, sans-serif;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.page_test{
    font-family: Roboto, sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

ul#menu li a{
    font-family: Roboto, sans-serif;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    background-color: #44D17D;
    text-decoration: none;
}

.nav-pills{
  padding-top: 40px;
}

.nav-pills .nav-item .nav-link.active {
  background-color: #44D17D;
  font-family: Roboto, sans-serif;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 33px;
  text-align: center;
  color: #000;
  border-radius: 10px;
  background-color: #44D17D;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.tab-content{
  margin-bottom: 30px;
}

ul#menu li{
    font-family: Roboto, sans-serif;
    display:inline-block; /* расположить пункты горизонтально */
}

.main_text_p{
    margin-top: 40px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.main_text{
  margin-bottom: 30px;
    margin-top: 80px;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

.logo_button{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.main_button{
    margin-top: 120px;
    margin-bottom: 20px;
}

.buttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.main_button_2{
    margin-left: 10px;
    margin-top: 10px;
}

.input_license{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.checkbox{
    margin-left: 10px;
    margin-bottom: 10px;
}

#buttons{
    height: 78px;
    font-family: Roboto, sans-serif;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 33px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    background-color: #44D17D;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.footer{
    height: 23px;
    background-color: #000;
}

.footer_p{
    font-family: Roboto, sans-serif;
    color: #fff;
    margin-left: 20px;
}
