{% extends 'base.html' %}
{% load static %}
{% block title %}S.A.p.D.{% endblock %}

{% block header %}
Добро пожаловать
{% endblock %}
{% block main %}
    <div  class="main">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-12">
                <div class="main_text_p">
                    <p>С подклчючением User_name<br><br>
                        Рады что ты решил стать пользователем нашего <br>
                        проекта. Если ты новичок то создай акаунт, если ты <br> уже зарегистрирован то воходи, мы рады что вы используете наш проект =)
                    </p>
                </div>
            </div>
        </div>
        <div class="container-lg">
          <div class="main_button">
            <div class="row">
                <div class="col-xl-3 col-lg-1 "></div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-5 col-12">
                  <div class="buttons">
                    <span>
                      <form class="container" action="{% url 'login:login' %}">
                          <input type="submit" class="btn btn-success" id="buttons" value="Вход">
                      </form>
                    </span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-5 col-md-5 col-sm-7 col-12">
                  <div class="buttons">
                    <span>
                      <form class="container" action="{% url 'login:instruction' %}">
                          <input type="submit" class="btn btn-success bat"  id="buttons" value="Регистрация">
                      </form>
                    </span>
                  </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
