{% extends 'base.html' %}
{% load static %}
{% block title %}S.A.p.D.{% endblock %}

{% block header %}
Лицензия
{% endblock %}
{% block main %}
<div  class="main">
  <div class="container-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="main_text_p">
                {% if useragreement %}

                {% for a in useragreement %}
                  <p id="text" >{{a.useragreement_text}}</p>
               {% endfor %}
               {% endif %}
            </div>
        </div>
    </div>
  </div>
    <div class="container-lg">
        <div class="buttons">
            <div class="row">
                <div class="col-md-12">
                    <div class="checkbox">
                        <input id="form" required="" type="checkbox">
                        <label for="form">Согласен</label>
                    </div>
                    <form action="{% url 'login:login' %}">
                        <input class="btn" id="buttons" type="submit" value="Продолжить" disabled=""/>
                    </form>
                </div>
            </div>
        </div>
        </div>
<script src="{% static 'login/script.js' %}"></script>
</div>
{% endblock %}
