{% extends 'base.html' %}
{% load static %}
{% block title %}Привет юзер{% endblock %}

{% block main %}
            <h3><a href="/">main</a></h3>
            <h3><a href="list">list</a></h3>
            <li><a href="login">licese</a></li>
   {% if useragreement %}

   {% for a in useragreement %}
      <p id="text" >{{a.useragreement_text}}</p>
      <p id="text"> какойто</p>
      <img src="{% static 'login/logo.png' %}" alt="My image">
      
   {% endfor %} 
   {% endif %}   

{% endblock %}
