{% extends 'base.html' %}
{% load static %}
{% block title %}S.A.p.D.{% endblock %}

{% block header %}
Login
{% endblock %}
{% block main %}
    <div  class="main">
    <div>
        <div class="main_text row">
            <div class="col-xxl-3 col-xl-2 col-lg-2 col-md-1"></div>
            <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-10">
                <div class="page_test">
                    <ul id="menu">
                        <li><a href="/">main</a></li>
                    </ul> 
                </div>
                <div class="main_text_p">
                    <h3>Enter bottom your access code</h3>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-2 col-lg-2 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
            <div class="main_button">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-xs-5 main_button_2">
                    <form action="login">
                        <input class="buttons" type="button" value="Login">
                    </form>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-xs-5 main_button_2">
                    <form action="license">
                        <input class="buttons" type="submit" value="Create account">
                    </form>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
        </div>
    </div>
</div>
{% endblock %}