{% extends 'base.html' %}
{% load static %}
{% block title %}S.A.p.D.{% endblock %}

{% block header %}
Login Key
{% endblock %}
{% block main %}
    <div  class="main">
    <div>
        <div class="main_text row">
            <div class="col-xxl-3 col-xl-2 col-lg-2 col-md-1"></div>
            <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-10">
                <div class="page_test">
                    <ul id="menu">
                        <li><a href="/">main</a></li>
                    </ul> 
                </div>
                <div class="main_text_p">
                    <h4>Please choose the method to get the login key</h4>
                </div>
            </div>
            <div class="col-xxl-3 col-xl-2 col-lg-2 col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
            <div class="logo_button">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-xs-5 main_button">
                    <input type="image" id="image" alt="gmail" src="{% static 'login/gmail.png' %}">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-xs-5 main_button">
                    <input type="image" id="image" alt="telegram" src="{% static 'login/telegram.png' %}">
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
        </div>
        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
            <div class="main_button">
                <form action="user_mail" method="POST">
                    {% csrf_token %}
                    <input type="text" required placeholder="Ваша почта" name="name"><br>
                    <input type="text" required placeholder="Ваша почта" name="mail_sender" value="sapdloginkey@gmail.com"><br>
                    <button class="buttons" type="submit"> Отправить </button>

                </form>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-1 col-xs-1"></div>
        </div>
    </div>
</div>
{% endblock %}