{% extends 'base.html' %}
{% load static %}
{% block title %}S.A.p.D.{% endblock %}

{% block header %}
Login
{% endblock %}
{% block main %}
    <div  class="main">
    <div class="container-lg">
        <div class="row">
          <div class="col-md-12">
            <span class="main_text"><h3>Введите код доступа ниже</h3></span>
          </div>
        </div>
    </div>
        <div class="row">
            <div class="buttons">
              <form role="form" class="form-horizontal" action="{% url 'login:telegram_login' %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="code" class="control-label">Ваш код</label>
                    <input type="text" class="form-control" id="code" required placeholder="AD1RGT" name="user_code_access">
                    <div id="emailHelp" class="form-text">Не забывайте что код обновляеться каждые 2 часа</div>
                    <span class="main_text"><button type="submit" class="btn btn-success" id="buttons">Войти</button></span>
                  </div>
              </form>
            </div>
        </div>
    </div>

{% endblock %}
